* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1 {
	text-align: center;
}

.gameContainer {
    height: 490px;
    width: 540px;

    position: absolute;
    left: 50%;
    top: 50px;

    margin-left: -270px;

}


/* the level itself */
.level {
    position: absolute;
    height: 380px;
    width: 380px;

    top: 110px;

    background-color: rgba(215, 215, 215, 0.5);
    border-radius: 10px;
}


.levelField {
	position: absolute;
	height: 100px;
	width: 100px;

	background-color: #a4a4a4;

	transition: 0.2s background-color;
}

/* positioning of level fields */

/* top row */
.lf0 { top: 20px; left: 20px; }
.lf1 { top: 20px; left: 140px; }
.lf2 { top: 20px; left: 260px; }
/* middle row */
.lf3 { top: 140px; left: 20px; }
.lf4 { top: 140px; left: 140px; }
.lf5 { top: 140px; left: 260px;	}
/* bottom row */
.lf6 { top: 260px; left: 20px; }
.lf7 { top: 260px; left: 140px; }
.lf8 { top: 260px; left: 260px; }

.gameTitle {
	position: absolute;
	height: 80px;
	width: 540px;

	background-color: rgba(215, 215, 215, 0.5);
	border-radius: 10px;

}


/* information section */
.info {
	position: absolute;
	height: 380px;
	width: 130px;

	top: 110px;
	left: 410px;

	text-align: center;
	font-weight: bold;
	color: #939393;
	border-radius: 10px;
	background-color: rgba(215, 215, 215, 0.5);
}

a { color : #3ce6c2;}

.websitelogo {
	position: absolute;
    left: 15px;
    bottom: 15px;
}

.websitelogo img {
    width: 100px;
}

.gameTitle > h1 {
	color: #e0002e;
}


/* text shown at victory */
.victoryDisplay {
	position: absolute;
	height: 50px;
	width: 540px;
    left: -80px;
	top: 50px;
}

.blueVictory {
	color: #3ce6c2;
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
}

.redVictory {
	color: #e0002e;
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
}

.tieVictory {
	color: #939393;
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
}