* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1 {
	text-align: center;
}


.levelField {
	position: absolute;
	height: 100px;
	width: 100px;

	background-color: #a4a4a4;

	transition: 0.2s background-color;
}

.lf0 {
	top: 20px;
	left: 20px;
}

.lf1 {
	top: 20px;
	left: 140px;
}

.lf2 {
	top: 20px;
	left: 260px;
}

.lf3 {
	top: 140px;
	left: 20px;
}

.lf4 {
	top: 140px;
	left: 140px;
}

.lf5 {
	top: 140px;
	left: 260px;	
}

.lf6 {
	top: 260px;
	left: 20px;
}

.lf7 {
	top: 260px;
	left: 140px;
}

.lf8 {
	top: 260px;
	left: 260px;
}

.level {
	position: absolute;
	height: 380px;
	width: 380px;

	left: 50%;
	margin-left: -190px;
	top: 80px;

	background-color: rgba(215, 215, 215, 0.5);
	border-radius: 5px;
}



.victoryDisplay {
	position: absolute;
	height: 50px;
	width: 380px;

	top: 450px;
	left: 50%;

	margin-left: -190px;
}

.blueVictory {
	color: #3ce6c2;
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
}

.redVictory {
	color: #e0002e;
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
}
